.timer {
  font-size: 100px;
  font-weight: 700;
}

.btn {
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: black;
  padding: 15px 35px;
}

.start-btn {
  background-color: green;
  color: white;
}

.stop-btn {
  background-color: orange;
  color: white;
}

.reset-btn {
  background-color: red;
  color: white;
}
